body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

#title {
    background-color: #ff4c68;
    color: #FFF;
    text-align: left; /*entire page is center aligned except this*/
}

.container-fluid {
    /*when 3-values short hand is used, 1st becomes top, 2nd becomes left and right and 3rd becomes bottom*/
    padding: 3% 15% 7%;
}

/*navigation bar*/
.navbar {
    /*top is 0, left and right is 0, bottom is 4.5*/
    padding: 0 0 4.5rem;
}

.navbar-brand {
    color: #FBE7FF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
}

/*download buttons*/
.download-button {
    margin: 5% 3% 5% 0;
}

/*title image*/
.title-image {
    position: absolute;
    transform: rotate(25deg);
    width: 60%;
}

/*features*/
#features {
    /*7% top and bottom, 15% left and right*/
    background-color: white;
    padding: 7% 15%;
    /*z-index: 1; */
    /*We don't need the above, because when title-image and features both have position, they have been taken out of the
    natural html flow, so the one that comes later in html flow (or the code) will sit on top of the previous element.
    In other words, child will sit on top of the parent.
     */
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

.features-box {
    padding: 5%;
}

#features .fas {
    color: #ef8172;
    padding-bottom: 18px;
}

#features .fas:hover {
    color: #ff4c68;
}

#features p {
    color: #8f8f8f;
}

/*testimonials*/
#testimonials {
    background-color: #ef8172;
    color: #FFFFFF;
}

.testimonial-image {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-item {
    padding: 7% 15%;
}

/*press*/
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    margin: 20px 20px 50px;
    width: 15%;
}

/*pricing*/
#pricing {
    /*7% top and bottom, 15% left and right*/
    padding: 7% 15%;
}

/*call to action section*/
#cta {
    background-color: #ff4c68;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    padding: 7% 15%;
}

/*footer section*/
#footer {
    background-color: #FFFFFF;
    padding: 7% 15%;
}

.social-icon, .footer-text {
    margin: 10px;
}

/*media queries*/
@media (max-width: 1028px) {

    #title {
        /*because it looks weird to have it left-aligned*/
        text-align: center;
    }

    .title-image {
        position: static;
        /*absolute degrees*/
        transform: rotate(0);
    }
}